{% extends "base.html.twig" %}

{% block body %}
	<h1>Edit contact for {{ contact.organization.name }}</h1>
	<p><a href="{{ path('organization_contact_list', {encodedUuid:uuid_encode(contact.organization.uuid)}) }}">-Cancel</a></p>
	<form action="{{ path('organization_update_contact', {encodedUuid:uuid_encode(contact.uuid)}) }}" method="post">
		<label for="name">Name*</label>
		<input type="text" name="name" id="name" placeholder="Name is required" required value="{{ contact.name }}">
		<label for="title">Job Title</label>
		<input type="text" name="title" id="title" value="{{ contact.jobTitle }}">
		<br>
		<label for="email">Email*</label>
		<input type="email" name="email" id="email" placeholder="Email is required" required value="{{ contact.email }}">
		<br>
		<label for="mobile">Mobile Phone</label>
		<input type="text" name="mobile" id="mobile" value="{{ contact.mobilePhone }}">
		<label for="work">Work Phone</label>
		<input type="text" name="work" id="work" value="{{ contact.workPhone }}">
		<label for="home">Home Phone</label>
		<input type="text" name="home" id="home" value="{{ contact.homePhone }}">
		<br>
		<label for="primary"><input type="checkbox" name="primary" id="primary" {{ contact.isPrimary ? 'checked' : '' }}> Primary</label>
		<label for="primary"><small><em>Primary contacts get periodic reports</em></small></label>
		<br>
		Allowed notification methods:
		<label for="notify_email"><input type="checkbox" name="notify_email" id="notify_email" {{ contact.notifyViaEmail ? 'checked' : '' }}>Email</label>
		<label for="notify_mobile"><input type="checkbox" name="notify_mobile" id="notify_mobile" {{ contact.notifyViaMobile ? 'checked' : '' }}>Mobile</label>
		<br>
		<button type="submit">Save</button>
	</form>
{% endblock %}