{% extends "base.html.twig" %}

{% block body %}
	<h1>Organizations</h1>
	<a href="{{ path('organization_add') }}">+Add</a>
	<table>
		<thead>
			<tr>
				<th>Organization</th>
				<th>Leads</th>
				<th>Contacts</th>
				<th>Api Keys</th>
				<th>Identifier</th>
				<th>Facebook Page</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for organization in organizations %}
				<tr id="{{ uuid_encode(organization.uuid) }}">
					<td>
						<a href="{{ path('organization_edit', {encodedUuid:uuid_encode(organization.uuid)}) }}">{{ organization.name }}</a>
					</td>
					<td>
						<a href="{{ path('organization_leads', {encodedUuid:uuid_encode(organization.uuid)}) }}">{{ organization.leads|length }}</a>

					</td>
					<td>
						<a href="{{ path('organization_contact_list', {encodedUuid:uuid_encode(organization.uuid)}) }}">{{ organization.contacts|length }}</a>
					</td>
					<td>
						<a href="{{ path('organization_api_list', {encodedUuid:uuid_encode(organization.uuid)}) }}">{{ organization.organizationApis|length }}</a>
					</td>
					<td>
						{{ uuid_encode(organization.uuid) }}
					</td>
					<td>
						{% if organization.facebookPage is empty %}
							<a href="{{ path('organization_facebook', {encodedUuid:uuid_encode(organization.uuid)}) }}">Connect</a>
						{% else %}
							<a href="https://facebook.com/{{ organization.facebookPage }}" target="_blank">Page {{ organization.facebookPage }}</a>
						{% endif %}
					</td>
					<td>
						<a href="{{ path('organization_facebook', {encodedUuid:uuid_encode(organization.uuid)}) }}">Change Facebook Connection<a>
						<a href="{{ path('organization_delete', {encodedUuid:uuid_encode(organization.uuid)}) }}">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
