{% extends "base.html.twig" %}


{% block body %}
	<h1>{{organization.name}}
		Leads</h1>
	<ul>
		{% for lead in organization.leads %}

			<li>
				<table>
					<tbody>
						<tr>
							<td colspan="2">{{ lead.dt|date("g:iA") }}
								on
								{{ lead.dt|date("F j, Y") }}</td>
						</tr>
						{{ lead.fields|map((fieldValue,fieldName)=>
							"<tr><td style=\"font-weight:bold;\">#{fieldName}</td><td>#{fieldValue}</td></tr>")|join('')|raw
						}}
					</tbody>
				</table>
				<a href="{{ path('resend_notification', {encodedLeadUuid: uuid_encode(lead.uuid)}) }}">Resend Notification</a>
			</li>

			{# Specific logic to display leads sent from WPFORMS plugin #}
			{% if 'wpforms_id' in lead.fields|keys %}
				{% for value in lead.fields.fields %}
					{% if value['value'] != '' %}{% endif %}
					<li>{{ value['name'] }}
						:
						{{ value['value'] }}</li>
				{% endfor %}
				<hr>
			{% endif %}

			{# BEGIN internal lead rating form !!!! temporary implementation !!! #}
			<form method='post' style='padding:5px;margin:5px; {{ lead.internalRating ? ' ' : ' border-left: 45px solid red;' }}' action='{{ path("update_internal_lead_rating", {encodedLeadUuid: uuid_encode(lead.uuid)}) }}'>
				<label for="leadRating">Internal Lead Rating
					<select name="leadRating">
						<option value="" selected disabled>select one...</option>
						{% for leadRating in leadRatings %}
							<option {{ lead.internalRating == leadRating ? 'selected' : '' }} value={{leadRating.id}}>{{leadRating.label}}</option>
						{% endfor %}
					</select>
				</label>
				<input type="submit" value="save">
			</form>
			{# END internal lead rating form !!!! temporary implementation !!! #}

		{% endfor %}
	</ul>
{% endblock %}
